APP_NAME=AALBackend
APP_ENV=local
APP_KEY=base64:TVTwM+9bza9QPSU8uUVzpSIN2sA8ZnxmZhkMLeWBZ5I=
APP_DEBUG=true
APP_URL=http://AALBackend.test

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=AALBackend
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=memcached

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=smartemotion.ipleiria@gmail.com
MAIL_PASSWORD=pznpsuoyopbhfbzh
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="geral@smartemotion.com"
MAIL_FROM_NAME="${APP_NAME}"

VONAGE_KEY=ccbf874f
VONAGE_SECRET=y06SmX3QB8XHVrsd

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://meilisearch:7700

PASSPORT_SERVER_URL=http://localhost

# php artisan passport:client --password
PASSPORT_CLIENT_ID_WEB=998396f9-fae8-4ea4-97e6-f94797d8e4bf
PASSPORT_CLIENT_SECRET_WEB=tbWf2I6JAD55DT1qVR01kSqRxCwpKjoLFhX8pasL
PASSPORT_CLIENT_ID_MOBILE=9c2b8e98-74d5-4800-887b-cbd19044997b
PASSPORT_CLIENT_SECRET_MOBILE=Oijy5yVfqEXmKxdkSUZGq7RrSrnfMZHd0ip6tVEa
PASSPORT_CLIENT_ID_PI=9983972e-e0e7-4f32-a199-d8a41f8c8ccb
PASSPORT_CLIENT_SECRET_PI=tP5i1m4Jq5R7Lol7iL60XK2PGsd6kL798JdXNF69


JWT_SECRET=xDttCL9LUwyYFuNQ9Ci0K9WiPQLOGXUtEptAsto2YB1s3961HtaYLcayMz8hUQUW
